<!doctype html>  

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Lone Star PHP Conference - June 11th, Dallas, Tx</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icn.png">


  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="/assets/css/lonestarphp.css?v=2">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/assets/ajs/libs/modernizr-1.6.min.js"></script>

</head>

<body style="border-top:5px solid #222;">
<a href="/" style="position:absolute; top:10px; left:10px;">&lt; back</a>
<div id="container" class="container_24">
	<br />
	<br />
	<h1>the Lone Star PHP Giveaway</h1>
	<h2>Each Attendee will be entered to win this 5 Book O'Reilly Package</h2>
	<a href="http://lonestarphp.eventbrite.com" class="button">Register Now!</a>
	<hr class="star" />
	<br />
	<div class="grid_8">
		<img src="/assets/img/lonestarphp/book-php.jpg" style="margin-bottom:10px;"  />

		<h2>PHP: The Good Parts</h2>		
		<p style="text-align:left;">Get past all the hype about PHP and dig into the real power of the language. This book explores the most useful features of PHP and how they can speed up the web development process, and explains why the most commonly used PHP elements are often misused or misapplied. You'll learn which parts add strength to object-oriented programming, and how to use certain features to integrate your application with databases.</p>
		<p style="text-align:left">By Peter MacIntyre<br />
			<strong>$29.99</strong></p>
	</div>
	<div class="grid_8">
		<img src="/assets/img/lonestarphp/book-php-mysql-js.jpg" style="margin-bottom:10px;" />
		<h2>Learning PHP, MySQL<br />and JavaScript</h2>		
		<p style="text-align:left;">With this simple, streamlined guide, non-programmers will quickly learn how to create responsive, data-driven websites with PHP, MySQL, and JavaScript. Discover how the powerful combination of PHP and MySQL provides an easy way to build modern websites complete with dynamic data and user interaction. You'll also learn how to add JavaScript to create rich Internet applications and websites.</p>
		<p style="text-align:left">By Robin Nixon<br />
			<strong>$39.99</strong>
	</div>
	<div class="grid_8">
		<img src="/assets/img/lonestarphp/book-js.jpg" style="margin-bottom:10px;"  />
		<h2>JavaScript: The Good Parts</h2>
		<p style="text-align:left">Most programming languages contain good and bad parts, but JavaScript has more than its share of the bad, having been developed and released in a hurry before it could be refined. This authoritative book scrapes away these bad features to reveal a subset of JavaScript that's more reliable, readable, and maintainable than the language as a whole-a subset you can use to create truly extensible and efficient code.</p>
		<p style="text-align:left">By Douglas Crockford<br />
			<strong>$29.99</strong></p>
	</div>
	<div class="grid_8 prefix_4">
		<img src="/assets/img/lonestarphp/book-apache.jpg" style="margin-bottom:10px;"  />
		<h2>Apache Cookbook, Second Edition</h2>

		<p style="text-align:left">The new edition of the Apache Cookbook offers you updated solutions to the problems you're likely to encounter with Apache. Thoroughly updated for Apache versions 2.0 and 2.2, this book includes more than 200 recipes ranging from simple tasks, such installing the server on Red Hat Linux or Windows, to more complex tasks, such as setting up name-based virtual hosts or securing and managing your proxy server.</p>
		<p style="text-align:left;">By Rich Bowen, Ken Coar<br />
			<strong>$34.99</strong></p>
	</div>
	<div class="grid_8 suffix_4">
		<img src="/assets/img/lonestarphp/book-regexp.jpg" style="margin-bottom:10px;"  />
		<h2>Regular Expressions Cookbook</h2>
		<p style="text-align:left;">This cookbook provides more than 100 recipes to help you crunch data and manipulate text with regular expressions. With recipes for popular programming languages such as C#, Java, JavaScript, Perl, PHP, Python, Ruby, and VB.NET, Regular Expressions Cookbook will help you learn powerful new tricks, avoid language-specific gotchas, and save valuable time with this library of proven solutions to difficult, real-world problems.</p>
		<p style="text-align:left">By Jan Goyvaerts, Steven Levithan<br />
			<strong>$44.99</strong></p>
	</div>
	<div class="clear"></div>
	<hr class="star" />
	<br /><br />
	<a href="http://lonestarphp.eventbrite.com" class="button">Register Now!</a>
	<br /><br /><br /><br /><br />
</div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.js"%3E%3C/script%3E'))</script>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/script.js"></script>
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <script src="/assets/js/profiling/yahoo-profiling.min.js"></script>
  <script src="/assets/js/profiling/config.js"></script>
  <!-- end profiling code -->


  <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
       change the UA-XXXXX-X to be your site's ID -->
  <script>
   var _gaq = [['_setAccount', 'UA-246789-4'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>
